.rotating-main-body {
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
    background-color: #333 !important;
    color: #222 !important;
    margin: 0;
}

.rotating-main-div.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

.rotating-main-div {
    transform-origin: top left;
    transition: transform 0.5s linear;
    background-color: #fafafa;
    width: 100vw;
    height: 100%;
    padding: 50px;
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: 1000;
}
.circle-class.show-nav {
    transform: rotate(-60deg) !important;
}

.circle-class {
    background-color: #ff7979;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
    opacity: 0.9;
}

.page-content {
    background-color: #fafafa;
}

.btn-class {
    position: absolute;
    width: 25px;
    height: 20px;
    top: 75%;
    left: 50%;
    background: transparent;
    border: 0;
    font-size: 26px !important;
    color: white !important;
    cursor: pointer;
}

#close {
    top: 65%;
    left: 30%;
    transform: rotate(75deg);
    transform-origin: top left;
    /* transition: 0.2s ease; */
}
#open {
    left: 60%;
}

#bars-svg path {
    fill: white;
}
#close-svg path {
    fill: white;
}
#bars-svg {
    width: 25px;
    height: 25px;
}
#close-svg {
    width: 25px;
    height: 25px;
}

.show-nav {
    transform: rotate(-15deg);
}

.page-content img {
    width: 45vh;
    height: 45vh;
    border-radius: 50%;
    transition: 1s ease;
    animation: rotation 5s infinite linear;
    z-index: 0 !important;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.img-class {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-content {
    max-width: 1000px;
    margin: 50px auto;
}

.page-content h1 {
    margin: 0;
}

.page-content small {
    color: #555;
    position: relative;
    margin-top: 20px;
}

.page-content p{
    color: #333;
    line-height: 1.5;
}

@media only screen and (max-width: 480px) {
    .page-content img {
        width: 30vh;
        height: 30vh;
    }
}