/* 
.nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo{
    flex-basis: 20%;
}

.logo img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
} */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    width: 100vw;
    height: 200vh;
    /* position: relative; */

    /* 
    https: //www.w3schools.com/cssref/pr_pos_overflow.asp
    
    ascunde barele de pe margini 
    poate fi si:
        - scroll
        - auto
        - clip
        - visible (default)

    */
    /* overflow: hidden;  */
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}

.container {
    margin-left: 40% !important;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    padding: 20px;
    margin: 20px;
}

.innerContainer {
    width: 50%;
    height: 50%;
    border: 3px solid black;
}

.block1 {
    width: 10em;
    height: 10em;
    position: sticky;
    left: 10em;
    background-color: aquamarine;
}
.block2 {
    width: 10em;
    height: 10em;
    position: sticky;
    /* z-index: 0; */
    top: 10em;
    left: 10em;
    /* top: 10em; */
    background-color: blue;
}
.block3 {
    width: 10em;
    height: 10em;
    position: relative;
    /* top: 1em; */
    background-color: brown;
    color: white;
}

.block3::after {
    content: "ana are mere si cate prune crezi ca va avea?";
}